@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f1f1f1;
    color: #0f141e;
    font-size: 20px;
    font-weight: normal;

}


.conteiner {
    width: 75%;
    margin: auto;
}

.main title {
    margin: 10px 5px;
    padding: 15 px;
    border: 5px solid #f1f1f1;
    text-align: center;
}

.citation {
    color: #86898f;
    margin: 10px 5px;
    letter-spacing: normal;
    padding: 15 px;
    border: 5px solid #f1f1f1;
    font-size: 24px;
}

a {
    color: black;
    text-decoration: underline;

}
a:hover {
    color: blue;

}
a:visited {
    color: grey;
}



img#second\ temp {
    width: auto;
    height: 538px;
    margin: 5px 270px;
}

img#first\ temp {
    width: auto;
    height: 538px;
    margin: 5px 154px;
}

img#third\ temp {
    width: auto;
    height: auto;
    margin: 5px 170px;
}

img#fourth\ temp {
    width: auto;
    height: auto;
    margin: 5px 280px;
}


img#fifth\ temp {
    width: auto;
    height: auto;
    margin: 5px 100px;
}


img#sixth\ temp {
    width: auto;
    height: auto;
    margin: 5px 65px;
}


.Big {
    width: 1404px;
    height: 658px;
}

.extra {
    border-radius: 20px;
}

.list li {
   margin-bottom: 10px;
}


.table {
    width: 100%;
}


#under li {
    border-bottom: 1px solid #ccc;
}

h2 {
    text-align: center;
}

h1.main.title {
    text-align: center;
}

.contact {
    margin-top: 20px;
}






